/* Style the form */
* {
    box-sizing: border-box;
  }
  body {
    background:linear-gradient(#ff1493,#eb5d39,purple);
  
  }
  
  h1 {
    text-align: center;  
  }
  #regForm {
      
      background:linear-gradient();
      margin: 200px auto;
      padding: 30px;
      width: 100%;
      max-width: 350px;
      border: 2px solid #000000;
      
    }
    
    /* Style the input fields */
    input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: Raleway;
      border: 1.5px solid #000000;
    }
    
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      background-color: #f388a3;
    }
    /* .first{
      padding: 40px;
    }
    .second{
      padding: -40px;
    } */
    
    /* Hide all steps by default: */
    .tab {
      display: none;
      font-size: larger;
      ;
    }
    /* prev and next */
    button {
      background-color: #e70ea6;
      color: #ffffff;
      border: 1.4px solid #000000;
      padding: 7px 7px;
      font-size: 10px;
      font-family: Raleway;
      cursor: pointer;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    #prevBtn {
      background-color: #a215c5;
    }
    
    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color:  #a215c5;
      border: 1.5px solid #000000;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }
    
    /* Mark the active step: */
    .step.active {
      opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color:#e70ea6;
    }
   
   /*gender and preferences*/
    .dropbtn {
      background-color: rgb(255, 0, 64);
      color: white;
      padding: 3px;
      border: 1.5px solid #000000;
      font-size: 14px;
      font-family: Raleway;
      cursor: pointer;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      opacity: 0.8;
    }
  